// Express Checkout

// General checkout styles
.express-checkout {
  a {
    color: $black;
  }
  .contribute {
    background-color: $bg-contribute;
    padding: 2em;
    text-align: center;
    .button-margin {
      margin-top: 1em;
    }
    @media (max-width: 620px) {
      background-color: transparent;
      padding-top: 0;
    }
    h5 {
      clear: both;
      padding-top: 1.5em;
    }
    .button {
      width: 100%;
      &.renew-button {
        display: none;
        @media (max-width: 620px) {
          display: block;
        }
      }
    }
  }
  .renew {
    background-color: $bg-contribute;
    margin-top: 20px;
    position: relative;
    @media (max-width: 620px) {
      display: none;
    }
    &:hover {
      cursor: pointer;
      .renew-left {
        @include transition-property(background-color);
        @include transition-duration(0.5s);
        @include transition-timing-function(ease-in);
        background-color: $theme-color-secondary;
        img {
          @include transition-property(background-color);
          @include transition-property(transform);
          @include transition-duration(0.5s);
          @include transition-timing-function(ease-in);
          @include transform(rotate(180deg));
          background-color: inherit;
          color: $white;
        }
      }
    }
    .renew-left {
      background-color: $theme-color-main; 
      display: inline-block; 
      padding: 1em;
      width: 62px;
      img {
        background-color: inherit;
      }
    }
    .renew-right {
      display: inline-block; 
      padding-left: 10px;
    }
    h4 {
      font-size: 14px;
      font-weight: 200;
    }
    p {
      font-size: 12px;
      font-weight: bold;
      letter-spacing: 0px;
    }
  }
}


// Bottom express checkout
.index {
  .bottom-checkout {
    background-color: $bg-bottom-checkout;
    @include background-sizing;
  }
}

.levels {
  .bottom-checkout {
    background-color: $bg-bottom-checkout;
    @include background-sizing;
  }
}

.bottom-checkout {
  @include outer-container;
  max-width: none;
  padding: 3em 1em;
  @include media($tablet) {
    padding: 3em 0 2em 0;
  }
  h2 {
    border-bottom: 3px solid $theme-color-main;
    color: white;
    font-family: $secondary-font;
    font-size: 4em;
    font-weight: 200;
    margin-bottom: 0.5em;
    text-align: left;
  }
  .express-checkout {
    @include span-columns(6);
    @media (max-width: 1020px) {
      @include span-columns(8);
    }
    @include media($tablet) {
      @include span-columns(10)
    }
    @include media($mobile) {
      @include span-columns(12);
    }
    .contribute {
      background: transparent;
      .left-wrapper {
        float: left;
        width: 75%;
        @include media($tablet) {
          width: 100%;
        }
      }
      .right-wrapper {
        float: right;
        width: 25%;
        @include media($tablet) {
          width: 100%;
        }
      }
    }
  }
}


// Hide js elements if user doesn't have js
body.no-js {
  .bottom-checkout {
    .left-wrapper, .right-wrapper {
      display: none;
    }
  }
  .top-checkout {
    @media (min-width: 620px) {
      .contribute {
        margin-top: 2em;
        .button {
            margin-top: 0;
        }
      }
    }
  }
}

