// Premium member page
.premium {
  .splash-wrapper {
    padding: 1em;
  }
  .splash {
    background-color: lighten($black, 25%);
    background-image: url("../images/premium-membership-banner.jpg");
  }
  .main {
    @include media($mobile) {
      padding: 0 1em;
    }
  }
}

.premium-box {
  @include span-columns(12);
  margin-bottom: 2em;
}

.premium-box-top {
  background-color: $black;
  padding: 1em 2.2em;
  text-align: center;
  h3 {
    border-bottom: 2px solid $theme-color-main;
    color: $white;
    padding: 0.2em 0;
  }
  h4, p {
    color: $theme-color-main;
    margin: 0.5em 0;
  }
  h4 {
    font-size: 1.2em;
    font-weight: 400;
  }
}

.premium-box-bottom {
  background-color: $gray-medium;
  color: $black;
  padding: 1em;
  text-align: left;
  .button {
    font-size: 1em;
    font-weight: 600;
    padding: 1em 1.5em;
    width: 48%;
    .fa {
      font-size: 0.8em;
    }
  }
  h4 {
    margin-bottom: 0.5em;
  }
  h5 {
    color: $gray-medium;
  }
}

.premium-box-benefits {
  padding: 0 0 0.5em 0;
}


.thanks {
  @include background-sizing;
  background-color: $theme-color-main;
  height: 350px;
  .inner-info {
    @include media($mobile) {
      margin: 0 1em;
    }
    &:hover {
      background-color: transparent;
      border: 3px solid $white;
    }
    hr {
      @include hide-for-mobile;
    }
  }
}
