<div class="bottom-checkout">
  <div class="express-checkout">
    <div class="contribute">
      <h2><%= data.Checkout[0]['bottom_checkout_label'] %></h2>
        <button class="button button-flat"><a href="<%= data.DonationInfo[0]['generic_form_url'] %>"><%= data.Checkout[0]['button_cta'] %> <i class="fa fa-chevron-right"></i></a></button>
        <a href="https://givalike.org/public/quickgive.aspx?cid=227">
          <div class="button button-flat button-renew">
            <a href="<%= data.DonationInfo[0]['renew_form_url'] %>">Renew Today <i class="fa fa-chevron-right"></i></a>
          </div>
        </a>
    </div>
  </div><!-- express-checkout -->
</div><!-- bottom-checkout -->
