<div class="top-checkout express-checkout">
  <div class="contribute">
      <button class="button button-flat"><a href="<%= data.DonationInfo[0]['generic_form_url'] %>"><%= data.Checkout[0]['button_cta'] %> <i class="fa fa-chevron-right"></i></a></button>
      <div class="button button-flat renew-button button-margin">
        <a href="<%= data.DonationInfo[0]['renew_form_url'] %>"><p><strong>Renew <i class="fa fa-chevron-right"></i></strong></p></a>
      </div>
  </div>
  <a href="<%= data.DonationInfo[0]['renew_form_url'] %>">
    <div class="renew">
      <div class="renew-left">
        <img src="../images/icon-renew.png">
      </div>
      <div class="renew-right">
        <h4>Already a member?</h4>
        <p><strong>Renew your membership here <i class="fa fa-chevron-right"></i></strong></p>
      </div>
    </div>
  </a>
</div><!-- express-checkout -->